#divTop{
    position: absolute;
    right: 4px;
    z-index: 1;
}

#contactUsAnchor{
    position: absolute;
    right: 4px;
    z-index: 1;
}

#navbarHome{
    margin-top: 28px;
}

.logoutWishlistAnchor{
    font-weight: bold;
}