$font-baloo:"Baloo Bhaijan 2",cursive;
$font-righteous:"Righteous",cursive;
$font-raleway:"Raleway",cursive;
$font-rubik:"Rubik",cursive;
$color-primary:#9ee674;
$color-second:#00a5c4;
$color-yellow:#ffd289;
$color-login-text-bg:#74e6d4;